<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Traffic Signs Recognition</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
</head>
<header>
    <section class="section">
        <div align="center" class="text1">
            <h1>🚦Traffic Signs Recognition🚦</h1>
        </div>
    </section>
    <marquee behavior="scroll" direction="left" scrollamount="12">Traffic Sign Recognition Project By Ashish Zope
    </marquee>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Accuracy</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
            Traffic Signs Classes</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
            Loses
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image" src="https://miro.medium.com/max/772/1*3XCEVqUqmdIz7y_HBXrVEQ.png" alt="Click on button" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image1" src="https://scontent.fpnq15-1.fna.fbcdn.net/v/t39.30808-6/295019951_3238836013027926_2073388148241297084_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=-u-xlOM_8RUAX-0SBzf&_nc_ht=scontent.fpnq15-1.fna&oh=00_AT9XucnrywjVOgD9mtCVXNt9q4yfZPji8gkHRo6G7Fegkw&oe=62E13271" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image2" src="https://miro.medium.com/max/784/1*1I5vXiKOw-bHVpJeJhKXxw.png" alt="Click on button" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <div align="center" class="container">
        <div id="content" style="margin-top: 2em">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<footer align="center" style="background-color: powderblue">
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</footer>

</html>