.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 3px solid #000000;
    box-shadow: 2px 2px 4px 0px rgba(66, 66, 66, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

.text1:hover {
    text-shadow: 2px 2px 2px rgb(0, 255, 98), 0 0 25px rgb(255, 238, 0), 0 0 5px rgb(255, 0, 0);
}

.btn-primary {
    display: inline-block;
    padding: 12px 30px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(156, 217, 255) 35%, #3894ab 100%);
    border: 1px solid #0f0f0f;
    border-radius: 20px;
    height: auto;
    width :auto;
    box-shadow: 3px 3px 3px 3px #545454
}

.btn-primary:hover {
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, #fe8300 100%);
    color: #010101;
}

input[type="file"] {
    display: none;
}

.upload-label {
    display: inline-block;
    padding: 12px 30px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(156, 217, 255) 35%, #3894ab 100%);
    border: 1px solid #0f0f0f;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #545454;
    font-weight: bold;
}

.upload-label:hover {
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, #fe8300 100%);
    color: #010101;
}

.loader {
    border-top: 8px solid #1c1425;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section {
    height: 22vh;
    width: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    background: radial-gradient(ellipse at center, rgb(147, 147, 147) 0%, rgb(71, 113, 168) 35%, #003f50 100%);
}

.text1 {
    margin-left: c;
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-size: 100px;
    text-shadow: #0a0a0a;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 2px 2px black, 0 0 25px rgb(2, 8, 57), 0 0 5px rgb(0, 17, 255);
}

body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background: linear-gradient(#012825 0%, rgb(155, 218, 255) 35%, #116c64 100%); */
}

.a1 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black, 0 0 25px rgb(2, 8, 57), 0 0 5px rgb(35, 35, 35);
}

.h3, h3 {
    font-size: .7cm;
    color: white;
}
/* ______________________________________________________________________________________________________________ */


.containers {
    display: flex;
}
.sidebar {
    width: 100%;
    background-color:rgb(3, 162, 241);
    overflow: auto;
    width: 20%;
    text-align: left;
    padding: -5px 0;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 36px;
}

.sidebar nav {
    padding: auto;
    vertical-align: bottom;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 15px 0;
}

.sidebar nav li a {
    text-decoration: solid;
    font-size: 20px;
    padding: 15px 0;
    color: white;
    cursor: pointer;
}

.sidebar nav li a:hover {
    text-decoration: solid;
    font-size: 20px;
    padding: 15px 0;
    color: gray;
    cursor: pointer;
}

.containers {
    display: flex;
}

.InfoContainers {
    height: 19vh auto;
    width: 80vw auto;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.InfoContainers_certificate {
    height: 19vh auto;
    width: 80vw auto;
    margin: 144px auto;
    justify-content: space-around;
}

.InfoContainers_contact {
    height: 19vh auto;
    width: 80vw auto;
    margin: 144px auto;
    justify-content: space-around;
}
/* ----------------------------------------------------------------------- */


* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }