<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Traffic Signs Recognition</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
</head>
<header>
    <section class="section">
        <div align="center" class="text1">
            <h1>🚦Traffic Signs Recognition🚦</h1>
        </div>
        <br>
        <div align="center" class="containers">
            <div align="center" class="sidebar">
                <nav>
                    <ul>
                        <div>
                            <li style="font: icon">
                                <b><a>Dashbord</a></b>
                            </li>
                        </div><br>
                        <div>
                            <li style="font: icon">
                                <b><a href="https://gitlab.com/final_project8">Get Project Reports</a></b>
                            </li>
                        </div><br>

                        <div>
                            <li style="font: icon">
                                <b><a>Project Flow Charts</a></b>
                            </li>
                        </div><br>
                        <div>
                            <li style="font: icon">
                                <b><a href="https://gitlab.com/final_project8/traffic-signs-recognition/-/blob/main/Project%20Main%20Code.ipynb" target="_blank">Get Source Code</a></b>
                            </li>
                        </div><br>
                        <div class="btn-group">
                            <div type="button" data-toggle="modal" data-target="#exampleModal_ppts">
                                PPTs</div>&nbsp;&nbsp;
                        </div>
                        <div class="modal fade" id="exampleModal_ppts" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel_ppts" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div>
                                        <!DOCTYPE html>
                                        <html>
                                        <title>W3.CSS</title>
                                        <meta name="viewport" content="width=device-width, initial-scale=1">
                                        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                                        <style>
                                            .mySlides {
                                                display: none;
                                            }
                                        </style>

                                        <body>
                                            <h2 class="w3-center">Traffic Sign Recognition🚦PPTs</h2>
                                            <div class="w3-content w3-display-container">
                                                <img class="mySlides"
                                                    src="https://www.shutterstock.com/image-photo/adorable-welsh-springer-spaniel-dog-600w-1823409425.jpg"
                                                    style="width:100%">
                                                <img class="mySlides" src="https://gitlab.com/project974/project/-/raw/main/Flow%20Chart_page-0001.jpg" style="width:100%">
                                                <img class="mySlides"
                                                    src="https://www.shutterstock.com/image-photo/dog-beagle-beautiful-shot-grass-600w-691419502.jpg"
                                                    style="width:100%">
                                                <img class="mySlides"
                                                    src="https://www.shutterstock.com/image-photo/cute-black-white-healthy-happy-600w-2020660997.jpg"
                                                    style="width:100%">
                                                <button class="w3-button w3-black w3-display-left"
                                                    onclick="plusDivs(-1)">&#10094;</button>
                                                <button class="w3-button w3-black w3-display-right"
                                                    onclick="plusDivs(1)">&#10095;</button>
                                            </div>
                                            <script>
                                                var slideIndex = 1;
                                                showDivs(slideIndex);

                                                function plusDivs(n) {
                                                    showDivs(slideIndex += n);
                                                }
                                                function showDivs(n) {
                                                    var i;
                                                    var x = document.getElementsByClassName("mySlides");
                                                    if (n > x.length) { slideIndex = 1 }
                                                    if (n < 1) { slideIndex = x.length }
                                                    for (i = 0; i < x.length; i++) {
                                                        x[i].style.display = "none";
                                                    }
                                                    x[slideIndex - 1].style.display = "block";
                                                }
                                            </script>
                                        </body>
                                        </html>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <br>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Accuracy</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
            Traffic Signs Classes</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
            Losses
        </button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image" src="https://miro.medium.com/max/772/1*3XCEVqUqmdIz7y_HBXrVEQ.png"
                        alt="Click on button" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image1"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFM53P3CVMGX1mZCgW79oEhZa6huGEU8jNkg&usqp=CAU" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="image2" src="https://miro.medium.com/max/784/1*1I5vXiKOw-bHVpJeJhKXxw.png"
                        alt="Click on button" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <div align="center" class="container">
        <div id="content" style="margin-top: 2em">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<footer align="center" style="background-color: rgb(216, 160, 63)">
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</footer>

</html>